name: Scrapear juegos

on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar scraping
        run: python -m bot.scraper

      - name: Guardar artifact
        uses: actions/upload-artifact@v4
        with:
          name: juegos
          path: juegos.json
